// FONT IMPORT
@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

// COLOR VARIABLES
$color-primary: #192A88;
$color-primary-light: #C3CDFF;
$color-secondary: #FFF1E0;
$color-secondary-dark: #192a8892;
$text-color: #22281E;

// MOBILE
$breakpoint-mobile: 768px;
$menu-bg: #fff;
$menu-width: 100%;
$menu-z: 999;
$transition-speed: 0.3s;
$shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

// SHADOW
$shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

// TYPOLOGY
$roboto: "Roboto", sans-serif;;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $roboto;
    font-weight: 400;
    line-height: 1.7;
    padding: 0;
    box-sizing: border-box;
}