h1 {
    font-family: $roboto;
    font-weight: 900;
    font-size: 4rem;
    color: $text-color;
}

h2 {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 3rem;
}

h3 {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}

h4 {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

p {
    font-size: 1.4rem;
    font-weight: 600;
    color: #3C3C3C;
}

