.hero {
    
    &-template {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 50vh;
        background-image: url('/img/Hero-img.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        transform: translateY(8rem);
    
        &::before {
            content: "";
            background-color: rgba($color-secondary, .6); // semi-transparent
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }    

    &__title {
        
    }

    &__links {

        ul {
            display: flex;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    font-size: 3rem;
                    color: $color-primary;
                    font-weight: 900;
                }
            }
        }
    }

}

.content-section {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
}